<section id="search-box" class="sidebar-box" ng-controller="SearchBoxCtrl">
  <a href="#/"><i class="icon-home icon-white"></i></a>
  <form name="movie-search-form" rd-search-form>
    <input type="text" ng-model="query" class="input-block-level" name="q" placeholder="Search for a movie here...">
  </form>

  <a href="" data-rd-facebook-login-button data-ng-hide="appSession.getCurrentUser()" title="Login with Facebook">
    Login with Facebook
  </a>

  <span ng-show="appSession.getCurrentUser()">Welcome, {{appSession.getCurrentUser().name}}!</span>
</section>
