@import "compass";

$linkColor: #ccc;

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";
@import "mixins";
@import "animations";

body {
  background: #444;
  font-family: Dosis, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  @include transition(background 0.5s linear);

  @media (min-width: 499px) {
    background-size: 100% auto;
  }
}

a {
  @include transition(color 200ms);
}

* { @include box-sizing(border-box); }

.home-widget {
  min-height: emCalc(120px);
  @include clearfix;
}

#app {
  position: relative;
  margin: 0 auto emCalc(10px);
  min-height: emCalc(350px);
  background-color: rgba(black, 0.75);
  @include border-bottom-radius(8px);
  @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
  z-index: 2;
}

#header {
  position: relative;
  margin-top: emCalc(20px);
  @include border-top-radius(8px);
  z-index: 1;
  background-color: rgba(black, 0.75);
  border-bottom: 1px dotted #555;

  h1 {
    position: relative;
    float: left;
    font-size: 1em;
    margin: 0;
    margin-left: 1em;

    a {
      float: left;
      min-height: 30px;
      text-align: center;
      text-decoration: none;
    }

    small {
      font-size: 1em;
      color: #666;
    }
  }


  #account-info {
    float: right;
    line-height: 40px;
    padding: 0 1em 0;
  }
}

#search-box {
  @include clearfix;
  margin: 1em;
}

.sidebar-box {
  margin: 1em;
}

.rd-top-rentals,
.rd-upcoming-movies {
  min-height: emCalc(80px);
  border: 1px solid rgba(white, 0.2);
  @include border-radius(10px);

  h5 {
    padding: 0 emCalc(10px);
  }

  ul {
    margin: 0;

    li {
      display: block;
      line-height: 2em;

      a {
        display: block;
        border-bottom: 1px dotted rgba(white, 0.2);
        padding: 0 emCalc(10px);
      }

      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}

.view {
  margin: 1em;
}



.movie-detail {
  position: relative;

  img.movie-poster {
    display: none;
    float: right;
    margin-left: emCalc(20px);
  }

  .movie-actions {
    margin: -1em 0 1em;
    margin-right: -1em;
    margin-left: -1em;
    background: #333;
    padding: 1em;

    label {
      margin: 0;
      display: inline-block;
    }

    input[type=checkbox] {
      display:none;
    }

    input[type=checkbox] + label:before {
      display: inline-block;
      width: 14px;
      height: 14px;
      @include ie7-restore-right-whitespace();
      line-height: 14px;
      vertical-align: text-top;
      background-image: url($iconWhiteSpritePath);
      background-repeat: no-repeat;
      margin-top: 2px;
      margin-right: 5px;
    }

    input[type=checkbox] + label:before {
      @extend .icon-star-empty;
      content: '';
    }

    input[type=checkbox]:checked + label:before {
      @extend .icon-star;
      content: '';
    }
  }

  header {
    position: relative;
    background-size: 100% auto;
    background-position: center -50px;
    min-height: emCalc(300px);
    margin-right: -1em;
    margin-left: -1em;
    margin-bottom: 1em;

    h3 {
      position: absolute;
      line-height: 1em;
      font-size: emCalc(28px);
      font-weight: 200;
      left: 20px;
      right: 20px;
      bottom: 10px;
      text-shadow: 0 0 5px rgba(black, 1);

      small {
        display: block;
        color: #FFF;
        line-height: 1.5em;
      }
    }

    @media (min-width: 768px) {
      @include border-top-right-radius(5px);

      h3 {
        font-size: emCalc(40px);
      }
    }

    &:before {
      position: absolute;
      content: '';
      top: 0px; left: 0px; right: 0px; bottom: 0px;
      @include background-image(
        linear-gradient(top, rgba(black, 0), rgba(black, 0.6))
      );
    }
  }

  .movie-imdb-link {
    color: gold;

    &:before {
      display: inline-block;
      content: image-url("icon_imdb.png");
      vertical-align: middle;
      margin-right: emCalc(10px);
    }
  }

  .rd-movie-pallete {
    position: absolute;
    bottom: 0px;
    top: auto;
    left: 0px;
    right: 0px;

    span {
      height: 8px;
    }
  }
}

.rd-movie-pallete {
  span {
    display: block;
    float: left;
    height: 100%;

    @include transition(background-color 1s);
  }
}

body > .rd-movie-pallete {
  @include transform(rotate(45deg));
  height: 200%;
  width: 100%;
  position: fixed;
  top: -100%;
  left: -50%;
  z-index: 1;
}

#movie-search-view {
  min-height: emCalc(120px);

  header {
    h3 small {
      display: block;
    }
  }
}

form[name="movie-search-form"] {
  margin: 0;

  input {
    background-image: image-url("icon_search.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 36px;
    margin: 0 !important;
    margin-right: 60px;
  }
}

.movie-cards {
  .movie-card {
    height: 175px;
    margin-bottom: 1em;
    display: block;
  }

  @media (min-width: 768px) {
    .movie-card {
      float: left;
      width: 50%;
    }
  }

  @media (min-width: 980px) {
    .movie-card {
      width: 33.33333%;
    }
  }
}

.movie-card {
  position: relative;
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  @include transform(scale(1));
  @include transition(
    background-size 200ms cubic-bezier(1, 0, 0, 1) 0ms,
    box-shadow 1000ms cubic-bezier(1, 0, 0, 1) 0ms
  );
  z-index: 1;

  &:hover {
    background-size: 125% auto;
    @include box-shadow(inset 0 0 20px rgba(black, 0.8));
    z-index: 2;
  }

  .movie-card-info {
    position: absolute;
    top: 0px;
    right: 0px;

    span {
      float: left;
      background: #FFF;
      color: #333;
      font-size: emCalc(14px);
      font-weight: 100;
      padding: 0 emCalc(10px);
    }
  }

  .movie-card-title {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(#000, 0.7);
    display: block;
    text-align: center;
    padding: emCalc(10px);
  }
}

.rd-pagination {
  @include pie-clearfix;
  float: right;
  text-align: right;
  padding-right: 10px;
  font-size: 0;

  button {
    display: inline-block;
    border: 1px solid #444;
    color: #FFF;
    font-size: 20px;
    background: transparent;
    padding: emCalc(5px);
    margin: 0;
    width: 30px;

    &:disabled {
      color: #444;
    }

    &:first-child {
      @include border-radius(3px 0 0 3px);
    }

    &:last-child {
      margin-left: -1px;
      @include border-radius(0 3px 3px 0);
    }
  }
}

.rd-movie-clips {
  @include clearfix;
  min-height: emCalc(90px);

  .rd-movie-clip {
    position: relative;
    background-size: 100% auto;
    background-position: center center;
    padding-right: emCalc(60px);
    min-height: emCalc(90px);
    margin-bottom: emCalc(10px);
    @include transition(box-shadow 100ms ease-in-out, background-size 100ms ease-out);

    &:hover {
      background-size: 110% auto;
      background-position: center center;
      @include box-shadow(inset 0 0 20px rgba(black, 0.9));
    }

    a {
      display: block;
      padding: emCalc(10px);
      color: #FFF;
      text-shadow: 0 0 4px rgba(black, 1);
    }

    h5 {
      margin: 0;
      font-weight: 100;
    }

    small {
      position: absolute;
      top: 0px;
      right: 0px;
      background: #F30;
      min-width: emCalc(60px);
      text-align: center;
      text-shadow: none;
    }

    img {
      min-width: 100%;
    }
  }

  .seeall {
    clear: both;
    display: block;
  }

  @media (min-width: 980px) {
    .rd-movie-clip {
      float: left;
      width: 49%;
    }

    .rd-movie-clip:nth-child(2n) {
      margin-left: 2%;
    }
  }
}

#movie-details-view {
  min-height: 200px;
  margin-top: 0;
}

#view-holder {
  position: relative;

  .rd-loading {
    padding: 1em;
  }

  .rd-loading.view-loading {
    position: absolute;
    top: 30px;
    left: 50%;
  }
}

.rd-movie-rating {
  @include clearfix;
  margin-left: -1em;
  margin-right: -1em;

  .critics-score-bar,
  .audience-score-bar {
    @include clearfix;
    min-width: 120px;
  }

  span {
    float: right;
    display: inline-block;
    line-height: 1em;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(black, 1);
    padding: 5px;
    background: rgba(black, 0.5);

    small {
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  h5 {
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    clear: both;
    color: darken(gold, 40%);
    padding: emCalc(10px);
    text-shadow: 0 1px 1px rgba(white, 0.2);
    font-weight: 300;
  }

  @media (min-width: 768px) {
    @include border-bottom-right-radius(10px);
  }
}

footer {
  padding: 1em;
  margin: 0 0 emCalc(10px);
  background-color: rgba(black, 0.75);
  @include border-radius(8px);
  @include box-shadow(0 0 20px rgba(0, 0, 0, 0.5));

  p {
    font-size: emCalc(11px);
    text-align: right;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgba(black, 0.6);
    margin: 0;

    a {
      &:after {
        content: '';
        display: inline-block;
        background: image-url("icons_rotten_tomatoes.png");
        background-position: -256px -144px;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-left: emCalc(5px);
      }
    }
  }
}
