@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";
@import "mixins";

/* Put your CSS here */
body {
  background: #000;
  font-family: Dosis, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  @include transition(background 0.5s linear);

  @media (min-width: 667px) {
    background-size: 100% auto;
  }
}

.container {
  background-color: rgba(black, 0.75);
  margin-top: emCalc(20px);
  @include border-radius(8px);
  @include box-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.rd-top-rentals {
  margin: 1em;
}

.view {
  margin: 1em;
}

.movie-detail {
  img.movie-poster {
    float: left;
    margin-right: emCalc(20px);
  }

  .movie-imdb-link {
    color: gold;

    &:before {
      display: inline-block;
      content: image-url("icon_imdb.png");
      vertical-align: middle;
      margin-right: emCalc(10px);
    }
  }
}

#sidebar {
  form {
    margin: emCalc(10px);

    input {
      background-image: image-url("icon_search.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: 10px center;
      padding-left: 36px;
    }
  }
}
